* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url(background.jpg);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.heading {
  padding-top: 80px;
  padding-left: 20px;
}

.heading span {
  padding-left: 25px;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 45px;
}

.heading span span {
  padding: 20px;
  display: inline;
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: rgb(28, 28, 158);
}

.content {
  padding-left: 30px;
  margin-top: 50px;
  display: flex;
  max-width: 2200px; /* Adjust the total width of the content */
}
.box {
  display: flex;
  margin-right: 20px;
  text-align: left;
}
img {
  width: 460px; /* Adjust the width of the image as needed */
  height: 250px;
  border-radius: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.text {
  max-width: 50%; /* Adjust the width of the text as needed */
}
.text h3 {
  font-size: 22px;
}

.text p {
  padding-top: 30px;
  font-size: 15px;
  font-weight: 500;
}

.lastpart {
  color: white;
}

.lastpart p {
  text-align: right;
}
